<div class="container-fluid p-0">
    <hr class="m-0" />
        <section class="resume-section" id="login">
        <div class="resume-section-content">
            <h2 class="mb-5">Login</h2>
            <div>
                <form>
                    <div class="subheading mb-2">
                        <input type="email" name="email" placeholder="Email">
                    </div>
                    <div class="subheading mb-2">
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <div class="subheading mb-2">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <hr class="m-0" />
</div>